$font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
$font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
$font-mono: ui-monospace, Consolas, monospace;

$breakpoint-md: 1024px;

$color-accent: #aa3bff;
