@use '../../shared/styles/abstracts' as *;

.about {
  // padding: 10rem 3rem 0;

  .title {
    @include text-gradient;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }
}
