@use '../../shared/styles/abstracts' as *;

.experience {
  padding: 10rem 2rem 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    @include text-gradient;
  }

  .item {
    margin-bottom: 1.5rem;
    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.3rem;
    }
    p {
      color: var(--text-muted);
    }
  }
}
