@use '../../shared/styles/abstracts' as *;

.experience {
  h2 {
    @include text-gradient;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .item {
    margin-bottom: 1.5rem;
    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.3rem;
    }
    p {
      color: var(--text-muted);
    }
  }
}
