/* src/index.css */
/* Reseteo limpio para dejar el control total a Sass y al ThemeProvider */
/* #root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
} */
